extends layout

block content
  .ui.text.container.detail
    .ui.inverted.segment
      h1 Login To Your Account
      form.ui.form(method='POST',action="/login")
        .ui.field
          label(style="color:#fff;") Email
          input(type="email",name="email")
        .ui.field
          label(style="color:#fff;") Password
          input(type="password",name="pass")
        button.ui.inverted.submit.button Login
