extends  layout

block content
  .ui.text.container(style="padding-top:10%;")
    .ui.inverted.segment
      h1 Register , It's Free
      if errors
        div.ui.black.message
          i.close.icon
          div.header(style="padding-bottom:5px;") Following Errors Occured During Form Submission
          each error, i in errors
              p #{error.msg}
      form.ui.form(method='POST',action="/register",enctype='multipart/form-data')
        .ui.field
          label(style="color:#fff;") Name
          .ui.two.fields
            .ui.field
              input(type='text',name='fname')
            .ui.field
              input(type='text',name='lname')
          .ui.field
            label(style="color:#fff;") Email
            input(type="email",name="email")
          .two.fields
            .field
             label(style="color:#fff;") Password
             input(type="password",name="pass")
            .field
             label(style="color:#fff;") Retype Password
             input(type="password",name="repass")
          .field
            label(style="color:#fff;") Profile Image
            input(type='file',name='profileimage')
          button.ui.inverted.submit.button Register
